$brand: #44a8f2;
$brand-active: #3d96d9;
$pro: #eabc63;
$pro-active: #d2a858;
$danger: #e74c3c;
$danger-active: #e74c3c;
$success: #4caf50;
$success-active: #4caf50;
$primary: #333;
$secondary: #707473;
$default-border: #979797;
$disabled: #ddd;
$light-bg: #f7f8f9;
$warning: #e67e22;
$link-hover: #44a8f2;
$error: #e74c3c;
$yellow: #f1c40f;
$white: #fff;
$border: #eee;

$purple: #9c27b0;
$blue: #2196f3;
$pink: #e91e63;
$indigo: #3f51b5;
$teal: #009688;
